*
!.gitignore
!README.md
!package.json

!engines/
!engines/typetype-video/
!engines/typetype-video/**
!plugins/
!plugins/typetype-player-slot/
!plugins/typetype-player-slot/**
!plugins/typetype-player-slot-beta/
!plugins/typetype-player-slot-beta/**
